.evpg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.heading {
    font-family: "Unbounded";
    font-size: 30px;
    font-weight: 400;
    line-height: 49.6px;
    text-align: start;
  }

  .linkbtn{
    display:flex ;
    align-items: center;
    justify-content: right;
  }

  .titile{
    width: 85%;
    margin-bottom: 40px;
  }